body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e8e8e8
    ;
    margin: 0;
    font-family: Arial, sans-serif;
}

.stopwatch {
    text-align: center;
    background: #d0d0d0
    ;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.display {
    font-size: 2em;
    margin-bottom: 20px;
}

.controls button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #ffffff;
    color: #010000;
    transition: background-color 0.3s;
}

.controls button:hover {
    background-color: #888888;
}

.laps {
    margin-top: 20px;
    text-align: left;
}

.laps h2 {
    margin-bottom: 10px;
}

.laps ul {
    list-style: none;
    padding: 0;
}

.laps ul li {
    background: #808080
    ;
    padding: 5px;
    margin-bottom: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
